<div style="font-family: Helvetica, Arial, sans-serif;">
  <div style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; max-width: 600px; padding: 10px 30px; margin: 20px auto; border: 1px solid #ccc; border-radius: 3px;">
    <p><b>{{name}}</b> ({{domain}}) has sent you a secure login link. Click below to gain access to the site on this device.</p>

    <p style="text-align: center;">
      <a href="{{link}}" style="display: block; border-radius: 2px; font-size: 22px; padding: 8px 16px; margin: 30px auto; width: 200px; background: #444; color: white; text-decoration: none;">Login Now</a>
    </p>
    
    <p style="font-size: 14px;">If you did not request this login link, please <a href="mailto:hello@authmail.co">contact us</a>. Don't worry, no one can access your account without this email.</p>
  </div>

  <p align="center" style="text-align: center; font-size: 14px; color: #777">Powered by <a href="http://authmail.co/" style="color: #333">AuthMail</a> password-less authentication.</p>
</div>