<%== erb :account_header %>

<div class="row"><div class="col-md-8 col-md-offset-2">
  <p class="lead">While we're in beta there's <i>absolutely no charge</i> for using AuthMail. If you find it
useful, however, you can join the <b>Early Adopter's Club</b>!</p>
  
  <p class="text-center" id="checkout-button"><a class="btn btn-lg btn-primary">Join the Early Adopter's Club</a></p>
  
  <br>
  <h4>What the heck is the Early Adopter's Club?</h4>
  <p>An early stage product needs one thing above all else: users that give a damn! We don't think it's fair
  to charge money for something while it's still in beta, but getting a group of dedicated and active users?
  That's a necessity! So here's how it works:</p>
  
  <ol>
    <li>Using the button above, enter your credit card details.</li>
    <li>We <b>don't charge you a dime</b>. Entering your info is proof enough.</li>
    <li>When we launch out of beta, <b>we still won't charge you a dime</b> unless you confirm a subscription.</li>
  </ol>
  
  <p>This gives us a middle ground between "Sure, I'd probably pay for that" and a full preorder.</p>
  
  <br>
  <h4>So what's in it for me?</h4>
  <p>If you join our fabulous Early Adopter's Club, you'll get some sweet perks!</p>
  
  <ul>
    <li><b>Advisory Board.</b> You'll join our user advisory group and get to vote on the development roadmap.</li>
    <li><b>Pay-Only Features.</b> As we beta test features that will eventually be pay-only, you'll get to use them without paying!</li>
    <li><b>Lifetime Discount.</b> Once we do exit beta, you'll get a 20% lifetime discount. Woo!</li>
  </ul>
  
  <br>
  <h4>This idea is bad, and you should feel bad.</h4>
  <p>Dang. Well, it was worth a shot. AuthMail is and will always be open source. We will put effort into it when and how
  we are able, but the more interest we see in a commercial product the more time we'll be able to spend making it
  better. It's really as simple as that!</p>
</div></div>

<%== erb :club_checkout_form %>