<section class="faq row"><div class="col-md-8 col-md-offset-2">
  <h1 class="page-header">Frequently Asked Questions</h1>

  <div class="question">
    <h3>Are login links as secure as passwords?</h3>
    <p>AuthMail's login links are, in most cases, more secure than using a password. Since nearly
      all password-based systems use email to be able to reset a forgotten password, AuthMail simply
      skips the step of needing a password at all.</p>
    <p>For applications with particularly sensitive information, you may wish to utilize two-factor
      authentication. There are other services that can be used in conjunction with AuthMail to get
      2FA implemented.</p>
  </div>
  
  <div class="question">
    <h3>Won't this just slow my users down waiting for an email?</h3>
    <p>AuthMail login links are sent immeditely, arriving in your users' inbox seconds after they
    enter their address. Most users will get a push notification of the new message and be able to
    click through almost immediately.</p>
    <p>We strongly recommend using secure cookies to keep your users logged in for a period of time after
    they click the link. That way, they login once and don't have to do so again unless they log out or
    try to access their account on a new computer.</p>
  </div>
</div></section>

<p class="text-center"><a href="mailto:hello@authmail.co" class="btn btn-info">Didn't get your question answered? Email us!</a></p>