<div class="text-center">
  <header class="lander-header">
    <h1 class='lander-title'>AuthMail</h1>
    <h2>Authenticate your users, no password required. It's that simple.</h2>
  </header>
  
  <div class="row">
    <div class="col-md-4">
      <h3>Enter an email address</h3>
      <p>Users enter their email address, you send it to us.</p>
    </div>
    <div class="col-md-4">
      <h3>Click the email link</h3>
      <p>Users receive an email with a time-sensitive link.</p>
    </div>
    <div class="col-md-4">
      <h3>You're logged in</h3>
      <p>We send you a secure token verifying the login.</p>
    </div>
  </div>
  
  <form class="signup-form" action="/login" method="post">
    <p class="lead">Ready to get started?</p>

    <input name="client_id" type="hidden" value="<%= Account.master.id %>">
    <div class="input-group" style="max-width: 450px; margin: 0 auto;">
      <input name="email" type="email" placeholder="you@example.com" class="input-lg form-control">
      <span class="input-group-btn"><button type="submit" class="btn btn-lg btn-success">Login</button></span>
    </div>
    
  </form>
  
  <hr>
  
  <div class="row text-left">
    <div class="col-md-5 col-md-offset-1">
      <p class='lead'><b>Passwords are hard.</b> The better a password is, the harder it is
      to use. Ever tried to type a strong password on a mobile device?
      For developers, secure storage and passwords resets are unnecessary headaches.</p>
    </div><div class="col-md-5"> 
      <p class='lead'><b>Email is easy.</b> Every person knows how to access their email on every device
      they use. AuthMail swaps entering a password with receiving an email. Better for users, better for
        developers. That's all there is to it.</p>
    </div>
  </div>
  
  <p class='home-oss'>Oh yeah, and did we mention that AuthMail is <a href="https://github.com/divshot/authmail" target="_blank">100% open source</a>?</p>
  
</div>

<script>
  mixpanel.track('Viewed Lander');
  mixpanel.track_forms('#signup-form', 'Initiated Login', {location: 'Lander'});
</script>