<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AuthMail - Authentication Without Passwords</title>

    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= erb :nav if current_user %>
    <div class="container">
      <%= yield %>
    </div>
    
    <footer class='bottom container'>
      <nav class='bottom-nav'>
        <a href='/about'>About</a>
        <a href='/docs'>Documentation</a>
        <a href='http://twitter.com/authmail'>Twitter</a>
      </nav>
      <div class='text-muted'>An <a href="https://github.com/divshot/authmail">open source micro-service</a> by <a href="http://www.divshot.com/">Divshot</a>.</div>
    </footer>
  </body>
</html>