<div class='container'><div class='row'><div class='col-md-6 col-md-offset-3'>
  <h1 class='page-header'><%= @account.name %></h1>
  <p class='lead'>You will receive an email at <b><%= params[:email] %></b> soon. Click the link in the email to login.</p>
</div></div></div>