<div class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <a href="/dashboard" class="navbar-brand">AuthMail</a>

    <ul class="nav navbar-nav">
      <li>
        <a href="/dashboard">Your Apps</a>
      </li>
    </ul>

    <ul class="nav navbar-nav pull-right">
      <li><a href="/logout">Logout (<%= current_user %>)</a></li>
    </ul>
  </div>
</div>