<h1 class="page-header">Contact Support</h1>
<p class="lead">Need some help? We're happy to oblige. Choose your own adventure:</p>

<div class="row">
  <div class="col-md-4">
  <h3>General Questions</h3>
  <p>First, check out our <a href="/faq">FAQ</a> and see if it's answered there. If not, get in touch with us below!</p>
  <p><a class="btn btn-block btn-default" href="mailto:hello@authmail.co">General Info Contact</a></p>
</div>
<div class="col-md-4">
  <h3>Specific Questions</h3>
  <p>For questions specific to your account, please contact us using the button below.</p>
  <p><a class="btn btn-block btn-primary" href="mailto:hello@authmail.co">Account Contact</a></p>
  </div>
<div class="col-md-4">
  <h3>Bugs/Suggestions</h3>
  <p>Suggestions? Found a bug? We ask that you report these on the GitHub Issues page.</p>
  <p><a class="btn btn-block btn-success" href="https://github.com/divshot/authmail/issues">GitHub Issues Page</a></p>
</div>
</div>